body {
  margin: 0;
  padding: 0;
}

.zac-slider ul {
  position: relative;
  height: auto;
  width: 800px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.zac-slider .controls {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.zac-slider .controls .pause,
.zac-slider .controls .prev,
.zac-slider .controls .next {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #999;
  background-color: #444;
  color: #fff;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.zac-slider .controls .pause:hover,
.zac-slider .controls .prev:hover,
.zac-slider .controls .next:hover {
  background-color: #666;
}

.zac-slider .slide {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  box-sizing: border-box;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.zac-slider .slide img {
  display: block;
}

.zac-slider .showing {
  opacity: 1;
  z-index: 2;
}

.zac-slider .controls {
  display: none;
}
